/* Colors
========================================================================== */

$color-black: #000000;
$color-white: #ffffff;

$color-url: #000000;


/* Fonts
========================================================================== */

$font-primary: Helvetica, sans-serif;
$font-secondary: Arial, Helvetica, sans-serif;
