/* Z-index
========================================================================== */

/*
 * usage:
 * .navigation { @include z-index(navigation); }
 */
$z-index: (
    modal              : 200,
    navigation         : 100,
    footer             : 90,
    triangle           : 60,
    navigation-rainbow : 50,
    share-type         : 41,
    share              : 40,
);

@function z-index($key) {
    @return map-get($z-index, $key);
}

@mixin z-index($key) {
    z-index: z-index($key);
}
